@font-face {
    font-family: 'Arcadepix Plus';
    src: url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Arcadepix-Plus/Arcadepix-Plus.svg#Arcadepix-Plus') format('svg');
    font-weight: normal;
    font-style: normal;
}

