@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-XBold.eot');
    src: url('AkzidenzGroteskBQ-XBold.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskBQ-XBold.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-XBold.woff') format('woff'),
        url('AkzidenzGroteskBQ-XBold.ttf') format('truetype'),
        url('AkzidenzGroteskBQ-XBold.svg#AkzidenzGroteskBQ-XBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

