@font-face {
    font-family: 'Bombardier';
    src: url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/bombardier/Bombardier.svg#Bombardier') format('svg');
    font-weight: normal;
    font-style: normal;
}