@font-face {
    font-family: 'Oxygene 1';
    src: url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/OXYGENE1/Oxygene1.svg#Oxygene1') format('svg');
    font-weight: normal;
    font-style: normal;
}