@font-face {
    font-family: 'DINPro';
    src: url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Bold/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }