@font-face {
    font-family: 'Gotham';
    src: url('Gotham-XLight.eot');
    src: url('Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('Gotham-XLight.woff2') format('woff2'),
        url('Gotham-XLight.woff') format('woff'),
        url('Gotham-XLight.ttf') format('truetype'),
        url('Gotham-XLight.svg#Gotham-XLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

