@font-face {
    font-family: 'Whitney';
    src: url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Whitney-BoldItalicSc/Whitney-BoldItalicSC.svg#Whitney-BoldItalicSC') format('svg');
    font-weight: bold;
    font-style: italic;
}

