@font-face {
    font-family: 'Berthold Akzidenz Grotesk BE';
    src: url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBE-Cn/AkzidenzGroteskBE-Cn.svg#AkzidenzGroteskBE-Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

