@font-face {
    font-family: 'Burbank Big Cd Bd';
    src: url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.svg#BurbankBigCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}