@font-face {
    font-family: 'Gobold';
    src: url('GoboldBold.eot');
    src: url('GoboldBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldBold.woff2') format('woff2'),
        url('GoboldBold.woff') format('woff'),
        url('GoboldBold.ttf') format('truetype'),
        url('GoboldBold.svg#GoboldBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

