@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/AkzidenzGroteskBG-MdCnd/AkzidenzGroteskBQ-MdCnd.svg#AkzidenzGroteskBQ-MdCnd') format('svg');
    font-weight: 500;
    font-style: normal;
}

