@font-face {
    font-family: 'DINPro-Regular';
    src: url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/DINPro-Regular/DINPro-Regular.svg#DINPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }