@font-face {
    font-family: 'WhitneyCondensed';
    src: url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/WhitneyCondensed-Black/WhitneyCondensed-Black.svg#WhitneyCondensed-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}