@font-face {
    font-family: 'Gotham-Bold';
    src: url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }