@font-face {
    font-family: 'Airstrike Expanded';
    src: url('AirstrikeExpanded.eot');
    src: url('AirstrikeExpanded.eot?#iefix') format('embedded-opentype'),
        url('AirstrikeExpanded.woff2') format('woff2'),
        url('AirstrikeExpanded.woff') format('woff'),
        url('AirstrikeExpanded.ttf') format('truetype'),
        url('AirstrikeExpanded.svg#AirstrikeExpanded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airstrike Condensed';
    src: url('AirstrikeCondensed.eot');
    src: url('AirstrikeCondensed.eot?#iefix') format('embedded-opentype'),
        url('AirstrikeCondensed.woff2') format('woff2'),
        url('AirstrikeCondensed.woff') format('woff'),
        url('AirstrikeCondensed.ttf') format('truetype'),
        url('AirstrikeCondensed.svg#AirstrikeCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airstrike';
    src: url('Airstrike.eot');
    src: url('Airstrike.eot?#iefix') format('embedded-opentype'),
        url('Airstrike.woff2') format('woff2'),
        url('Airstrike.woff') format('woff'),
        url('Airstrike.ttf') format('truetype'),
        url('Airstrike.svg#Airstrike') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airstrike';
    src: url('AirstrikeBold.eot');
    src: url('AirstrikeBold.eot?#iefix') format('embedded-opentype'),
        url('AirstrikeBold.woff2') format('woff2'),
        url('AirstrikeBold.woff') format('woff'),
        url('AirstrikeBold.ttf') format('truetype'),
        url('AirstrikeBold.svg#AirstrikeBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

