@font-face {
    font-family: 'Kitten Swash';
    src: url('KittenSwash-Fat.eot');
    src: url('KittenSwash-Fat.eot?#iefix') format('embedded-opentype'),
        url('KittenSwash-Fat.woff2') format('woff2'),
        url('KittenSwash-Fat.woff') format('woff'),
        url('KittenSwash-Fat.ttf') format('truetype'),
        url('KittenSwash-Fat.svg#KittenSwash-Fat') format('svg');
    font-weight: normal;
    font-style: normal;
}

