@font-face {
    font-family: 'Bebas';
    src: url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Bebas-Regular/Bebas-Regular.svg#Bebas-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

