@font-face {
    font-family: 'Jellee Roman';
    src: url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/Jellee-Roman/Jellee-Roman.svg#Jellee-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

