@font-face {
    font-family: 'League Gothic';
    src: url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.eot');
    src: url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.woff2') format('woff2'),
        url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.woff') format('woff'),
        url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.ttf') format('truetype'),
        url('https://filesbucket.space/fbfiles/public/fonts/LeagueGothic-Regular/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}