@font-face {
    font-family: 'Gang of Three';
    src: url('GangofThree.eot');
    src: url('GangofThree.eot?#iefix') format('embedded-opentype'),
        url('GangofThree.woff2') format('woff2'),
        url('GangofThree.woff') format('woff'),
        url('GangofThree.ttf') format('truetype'),
        url('GangofThree.svg#GangofThree') format('svg');
    font-weight: normal;
    font-style: normal;
}

