@font-face {
    font-family: 'Headline One';
    src: url('HeadlineOneHPLHS.ttf');
    src: url('HeadlineOneHPLHS.eot');
    src: url('HeadlineOneHPLHS.eot?#iefix') format('embedded-opentype'),
        url('HeadlineOneHPLHS.woff2') format('woff2'),
        url('HeadlineOneHPLHS.woff') format('woff'),
        url('HeadlineOneHPLHS.svg#HeadlineOneHPLHS') format('svg');
    font-weight: normal;
    font-style: normal;
}